/*CONTEÚDO DA PÁGINA*/

html {
  scroll-behavior: smooth;
}

/*BANNER*/

.banner {
  width: 100%;
  box-shadow: 0px 5px 20px 2px #000000;
}

.image-banner {
  width: 100%;
  height: 80vh;
  background-image: url(../assets/img/original.gif);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 10vh;
}

.starWars {
  margin: 130px 0;
  text-align: center;
  font-size: 80px;
  background: #EDD70C;
  background: linear-gradient(to right, #EDD70C 0%, #4D4D0E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.descricao{
    width: 40%;
    font-size: 20px;
    color: white;
}

  .banner img {
    width: 100%;
    height: 100%;
  }
  
  .banner .container {
    height: 350px;
    align-items: center;
    justify-content: center;
  }
  
 
.banner-sobre{
  background-image: radial-gradient(circle, #222222, #1b1b1b, #151515, #0c0c0c, #000000);
  width: 100%;
  background-size: cover;
  display: flex;
  margin-top: -5px;
  /* padding: 25px 0px; */
  height: 105vh;
  box-shadow: 0px 0px 27px 0px rgba(191, 174, 191, 1);
}

.banner-sobre .caixa h3{
  font-size: 45px;
  font-weight: bold;
  color: #edd70c;
}

  /*SOCIAL*/
  .banner2 {
    background-color: #def1ff;
    width: 100%;
    display: flex;
    margin-top: -5px;
    /* padding: 25px 0px; */
    height: 75vh;
    box-shadow: 0px 0px 42px 12px rgb(0 0 0 / 41%);
  }
  
  .banner2 .caixas {
    display: flex;
  
  }
  
  .banner2 h3 {
    font-size: 45px;
    font-weight: bold;
    color: #edd70c;
  }
  
  .caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    display: flex;
    padding: 0 20px;
  }
  
  .banner2 .caixa img {
    height: 200px;
    width: 200px;
    padding: 20px 0px;
    background-color: white;
    box-shadow: 0px 0px 42px -15px rgb(0 0 0 / 41%);
    cursor: pointer;
  }

  .banner2 .caixa img:hover {
    position: relative;
    top:-10px;
    transition: all .0.5s ease-in-out;
  }
  
  .caixa h4 {
    margin: 15px 0;
    color: #36A2EB;
    font-size: 25px;
    font-weight: bold;
  }
  
  .caixa p {
    text-align: center;
  }
  
  .caixa img {
    width: 170px;
  }
  
  .banner3 {
      background-color: #F2A19A;
      width: 100%;
      display: flex;
      margin-top: -5px;
      height: 100vh;
      background-repeat: no-repeat;
      background-size: 555px;
      background-position-x: 95%;
      background-position-y: 80%;
      box-shadow: 0px 0px 42px 12px rgb(0 0 0 / 41%);
  }
  
  .banner3 .caixas {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 110%;
}
  
  .banner3 .caixa {
    background-color: white;
    border: none;
    border-radius: 15px;
    padding: 30px 5px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 42px -18px rgb(0 0 0 / 41%);
    cursor: pointer;
    transition: 0.9s;
    width: 55%;
}