.banner {
    background-image: url("../assets/img/tela_login.png");
    padding: 60px 0;
    background-size: cover;
}

body {
    background-image: radial-gradient(circle, #808080, #5f5f5f, #3f3f3f, #222222, #000000);
    color: white;
}

.bannerPersonagem {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 3px gray solid;
}

.nomePersonagem {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 35px;
    color: #edd70c;
}

.infoPersonagem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.descPersonagem {
    text-align: center;
    align-items: center;
    margin: 0 50px 0;
}

.frase {
    text-align: center;
    margin: 5px 60px 0;
    padding: 0px 0px 15px 0;
}

.imgYodaTela {
    padding: 80px 150px;
    margin: 0 0 10px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/personagens/yoda.png");
    border-radius: 10px;
}

.imglukeTela {
    padding: 80px 150px;
    margin: 0 0 10px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/personagens/luke.png");
    border-radius: 10px;
}

.imgVaderTela {
    padding: 80px 150px;
    margin: 0 0 10px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/personagens/vader.png");
    border-radius: 10px;
}

.imgleiaTela {
    padding: 80px 150px;
    margin: 0 0 10px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/personagens/leia.png");
    border-radius: 10px;
}

.imgKenobiTela {
    padding: 80px 150px;
    margin: 0 0 10px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/personagens/kenobi.png");
    border-radius: 10px;
}

.imgSoloTela {
    padding: 80px 150px;
    margin: 0 0 10px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/personagens/han-solo.png");
    border-radius: 10px;
}

.imgPalpatineTela {
    padding: 80px 150px;
    margin: 0 0 10px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/personagens/palpatine.png");
    border-radius: 10px;
}

.Voto{
    padding: 0px 0px 30px;
}

button {
    margin: 50px 0 0 0;
    width: 180px;
    color: #f4f5ea;
    background-color: #484848;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    opacity: 0.8;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.botoes1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.graficoVoto {
    display: none
    ;height:90vh; 
    width:90vw; 
    margin: 20px 20px 20px 70px; 
    color: white;
    font-size: 300px;
}

.descPersonagem {
    font-size: 20px;
}

.frase {
    color: #ffffff;
    font: bold;
    font-size: 21px;
}